button {
    margin:  10px;
}

.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change from 'center' to 'flex-start' */
    height: 100vh;
    padding-top: 50px; /* Increase the top padding for additional space */
    background-color: #f1e9d2;
    /* background-image: url(/public/assets/images/herbie.jpg); */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: 98%; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the background image */
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Additional style to maintain spacing between login elements */
#login-form .form-group {
    margin-bottom: 20px;
}