body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #EC6B6B;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

header .website-title {
    color: #fff;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    margin-right: auto;
    padding-left: 20px;
    /* Adjust as needed */
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: 100vh;
    padding-top: 20px;
    background-image: url('/public/assets/images/herbie.jpg');
    /* Set background properties */
    background-size: cover;
    background-position: fill;
    /* Position the background image */
}

.container img {
    width: 50%; /* Make the image width 100% of the container */
    height: 50%; /* Make the image height 100% of the container */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form items horizontally */
    margin-top: 20px; /* Add margin between the form and the "Login" title */
}

#login-form .form-group {
    margin-bottom: 20px; /* Increase margin between input boxes */
}

#login-form button {
    margin-top: 20px; /* Add margin between the button and input boxes */
}

/* Adjust the alignment of the form elements */
#signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align form items to the top */
    margin-top: 20px;
}

#signup-form .form-group {
    margin-bottom: 10px;
}

#signup-form button {
    align-self: flex-start;
    /* Align button to the left */
    margin-top: 10px; /* Add a margin for separation */
}

/* Ensure images and other elements in review-container align to the top */
.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center content horizontally */
    justify-content: flex-start;
    /* Align content to the top */
    padding-top: 20px;
    /* Space from the top */
}

/* Add max-width to the image to prevent overflow */
.review-img {
    max-width: 100%; /* Adjust as needed */
    height: auto;
}